@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  color: #fff;
}

header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

main {
  width: 50%;
  height: 60%;
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2%;
}

/* input and buttons */
#operationInput {
  grid-area: 1 / 1 / 2 / 5;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #e8e8e8;
  border-radius: 4px;
  padding-left: 2%;
  font-size: 300%;
}

.operations {
  font-size: 200%;
  background-color: #969696;
  color: #e8e8e8;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  transition: all 350ms;
}

.operations:hover {
  background-color: #e8e8e8;
  border: 2px solid #969696;
  color: #969696;
  cursor: pointer;
}

.numbers {
  font-size: 200%;
  background-color: #363636;
  color: #e8e8e8;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  transition: all 350ms;
}

.numbers:hover {
  background-color: #e8e8e8;
  border: 2px solid #363636;
  color: #363636;
  cursor: pointer;
}

#equals {
  font-size: 200%;
  background-color: #3e49b8;
  color: #e8e8e8;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  transition: all 350ms;
}

#equals:hover {
  background-color: #e8e8e8;
  color: #3e49b8;
  border: 2px solid #3e49b8;
  cursor: pointer;
}
/* input and buttons */

footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pedroLink {
  color: #e8e8e8;
}

@media (max-width: 1000px) {
  main {
    width: 60%;
  }
}

@media (max-width: 600px) {
  main {
    width: 80%;
  }
}
